src/main/mule/testapllication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="932ecd61-4569-4d16-96df-d5c6fd6a285e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="04946a80-1b5f-4d77-bcf6-d2010d36a3e7" >
		<file:connection workingDir="C:/Pratik" />
	</file:config>
	<flow name="testapllicationFlow" doc:id="c28dd8e0-a544-4b98-9ff9-1efe8c048455" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="ea701f42-2fb0-471f-b8fc-bb8893d312ec" config-ref="HTTP_Listener_config" path="/flights"/>
		<set-payload value="hello" doc:name="Set Payload" doc:id="ca071d9f-3a84-49c6-a31f-74c14e15878e" />
		<file:write doc:name="Write" doc:id="841b4831-4cfa-43ff-b9c4-afd94241d3c2" config-ref="File_Config" path="file/outputFile.txt" mode="APPEND"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="bfdbd506-7361-4899-95e9-de0986a92a09" variableName="Pratik"/>
		<flow-ref doc:name="Flow Reference" doc:id="188b9c5c-e489-4e8f-93b2-f8ecf365f2b7" name="childFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="0bda54f1-bce7-4a3f-9bfd-2f2f61a633a0" message="end"/>
	</flow>
	<flow name="childFlow" doc:id="4b21321a-3fab-4c8e-918a-1c8472f50a52" >
		<set-payload value="SettingPayloadManually" doc:name="Set Payload" doc:id="c12b0d32-8cfd-4330-9909-084b222fc7da" />
		<logger level="INFO" doc:name="Logger" doc:id="f5dc791a-6492-4ba9-b35b-034f030fead3" message="#[payload]"/>
	</flow>
	<flow name="testapllicationFlow1" doc:id="96889853-3112-4e10-82c4-800bb0981761" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="abe4b0af-0f13-45e8-933d-c5ba84d00960" config-ref="HTTP_Listener_config" path="/reference"/>
		<set-payload value='"Make"' doc:name="Set Payload" doc:id="94bf4210-e205-4492-9f7b-9ed18159d785" />
		<set-variable value='"Model"' doc:name="Set Variable" doc:id="611eda26-d681-43ea-bd6d-ba3ae0c624cb" variableName="moadel"/>
		<flow-ref doc:name="Flow Reference" doc:id="35c16f09-f5d7-4f08-ac71-7eceb4108103" name="testing_reference"/>
	</flow>
	<flow name="testing_reference" doc:id="307f7d8d-254a-42fd-85f4-c412c231836e" >
		<logger level="INFO" doc:name="Logger" doc:id="d898d5d1-194d-4941-99a0-748d6a014bf3" message="#[typeOf(payload)]"/>
		<logger level="INFO" doc:name="Logger" doc:id="596f1d57-8b43-4005-a62b-d787d071a558" message="#[attributes.queryParams]"/>
	</flow>
</mule>
